:root{
    --very-light-pink: #c7c7c7;
    --white: #fff;
    --text-input-field: #f7f7f7;
    --black: #000;
    --hospital-green: #ACD9B2;
    --dark: #232830;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: none;
}
.navbar-left ul,
.navbar-right ul{
    list-style: none;
    display: flex;
}
.navbar-left ul .logo{
    width: 100px;
    margin-right: 12px;
}
.navbar-left ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.navbar-left ul li a:hover{
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.navbar-right ul li{
    padding: 4px 0;
}
.navbar-right ul .email-user{
    margin-right: 12px;
    cursor: pointer;
}
.navbar-right ul .shopping-cart{
    position: relative;
    cursor: pointer;
}
.navbar-right ul .shopping-cart i{
    font-size: 18px;
}
.navbar-right ul li .cant{
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--hospital-green);
    border-radius: 50%;
    color: var(--white);
    width: 18px;
    font-size: 14px;
    text-align: center;
}

.menu-small-desktop{
    width: 140px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    position: absolute;
    right: 50px;
    top: 54px;
    background: var(--white);
}
.menu-small-desktop ul{
    list-style: none;
    text-align: right;
}
.menu-small-desktop ul li{
    padding: 20px;
}
.menu-small-desktop ul li:nth-child(3){
    border-top: 1px solid var(--very-light-pink);
    font-weight: normal;
}
.menu-small-desktop ul li a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}
.menu-small-desktop ul li .sign-out{
    color: var(--hospital-green);
}

.inactive{
    display: none;
}

.menu-mobile{
    position: absolute;
    left: 0;
    top: 54px;
    background: var(--white);
}
.menu-mobile ul{
    list-style: none;
    margin: 20px 0;
}
.menu-mobile ul li{
    padding: 20px 20px 0 20px;
    font-weight: bold;
}
.menu-mobile ul li a{
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
}
.menu-mobile ul li .mail{
    font-size: 14px;
    font-weight: normal;
}
.menu-mobile ul li .sign-out{
    font-size: 14px;
    font-weight: bold;
    color: var(--hospital-green);
}

.shopping-cart-details{
    width: 320px;
    position: absolute;
    right: 0;
    background: var(--white);
}

.my-order-container .title{
    font-size: 18px;
    margin: 20px 0;
}
.my-order-content{
    display: flex;
    justify-content: space-between;
    background: var(--text-input-field);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.my-order-content .info{
    display: flex;
    flex-direction: column;
}
.my-order-content .info span{
    color: var(--very-light-pink);
}
.my-order-content .info span:first-child{
    font-weight: bold;
    color: var(--black);
}
.my-order-content .total{
    display: flex;
    align-items: center;
}
.my-order-content .total span{
    font-weight: bold;
}
.my-orders-content .product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.my-orders-content .product .info{
    width: 200px;
    display: flex;
    align-items: center;
}
.my-orders-content .product .info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}
.my-orders-content .product .info span{
    display: block;
    margin-left: 10px;
    color: var(--very-light-pink);
}
.my-orders-content .product .price{
    display: flex;
    align-items: center;
}
.my-orders-content .product .price span{
    display: block;
    text-align: right;
    font-weight: bold;
}
.my-orders-content .product .price .close{
    margin-left: 8px;
}
.input-button{
    display: block;
    padding: 20px 0;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--hospital-green);
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.main-container{
    width: 90%;
    margin: auto;
}
.cards-container{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 20px;
    justify-content: center;
}
.card{
    width: 240px;
}
.product-image{
    margin-bottom: 8px;
}
.product-image img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
}
.product-price-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price{
    font-weight: bold;
}
.article{
    color: var(--very-light-pink);
}
.add-to-cart{
    display: flex;
    align-items: center;
    background: var(--hospital-green);
    padding: 16px;
    border-radius: 50%;
}
.add-to-cart i{
    font-size: 18px;
}
@media (max-width:576px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .card{
        width: 140px;
    }
    .product-image img{
        height: 140px;
    }
    .add-to-cart{
        padding: 14px;
    }
    .add-to-cart i{
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .menu{
    display: block;
    }
    .navbar-left ul li,
    .navbar-right ul .email-user{
        display: none;
    }
    .menu-small-desktop{
        display: none;
    }
    .menu-mobile{
        width: 70%;
    }
    .shopping-cart-details{
        width: 90%;
        margin: auto;
        position: static;
    }
}

@media (min-width: 769px){
    .menu-mobile{
        display: none;
    }
}